/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

html {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

nav {
    display: inline-flex;
    font-weight: bold;
}

nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-left: 1.5rem;
    font-size: 20px;
}

.navigationUL {
    list-style: none;
    display: flex
}

nav a img {
    width: 40px;
}

nav img {
    width: 26px;
}

.logoLink {
    margin-left: 20rem;
    font-size: 30px;
    display: flex;
    align-items: center;
}
nav p {
    border: 2px solid black;
    width: 200px;
    height: 18px;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-top:20px;
    margin-left: 39rem;
}
.cart {
    margin-top: 15px;
}

.home_image {
    width: 1371px;
}
.home_img_background {
    background-color: black;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.home_txt1 {
    position: absolute;
    font-size: 30px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.home_txt2 {
    position: absolute;
    bottom: 20rem;
    right: 20px;
    text-align: end;
    font-size: 30px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.nav-line {
    height: 5px;
    width: 93%;
    border: 0;
    background: black;
}

.about-line {
    height: 5px;
    width: 60%;
    margin-left: 210px;
    border: 0;
    background: black;
}

.about_us {
    margin-left: 16rem;
    font-size: 45px;
}

.about_us_txt {
    margin-left: 16rem;
    margin-right: 40rem;
    font-size: 20px
}

.about_us_txt1 {
    width: 30%;
    margin-left: 27%;
    margin-top: 88px;
    font-size: 20px;
}

.about_us_txt2 {
    margin: 25%;
    font-size: 20px;
}
.about_us_img1 {
    float: left;
    width: 397px;
}

.about_us_img2 {
    float: right;
    width: 601px;
    display: flex;
    flex-direction: row-reverse;
}

.our_products {
    margin-left: 16rem;
    font-size: 45px;
}

.our_products_line {
    height: 5px;
    width: 60%;
    margin-left: 210px;
    border: 0;
    background: black;
}

.product_container {
    display: grid;
    grid-template-areas:
        "top-l top top-r"
        "mid-ml mid-mm mid-mr"
        "bot-l bot bot-r";
    align-items: center;
    margin-left: 11.3%;
}

.product_image {
    width: 398px;
    height: 398px;
    object-fit: cover;
}

.product_alignment {
    font-size: 20px;
    display: table-caption;
}

.product_link {
    display: flex;
    justify-content: space-between;
    background: #BF7631;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.product_line {
    height: 5px;
    margin-right: 100px;
    border: 0;
    background: black;
}


.contact_us {
    margin-left: 16rem;
    font-size: 45px;
    margin-top: 135px;
}

.contact_us_line {
    height: 5px;
    width: 60%;
    margin-left: 210px;
    border: 0;
    background: black;
}

.contact_position {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 30%;
}

.email_box {
    border-style: solid;
    width: 700px
}

.message_box {
    border-style: solid;
    height: 200px;
    width: 700px;
}

.send_button {
    background: #BF7631;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

footer {
    background-color: #bf7631;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer_logo_spacing {
    display: flex;
    margin-right: 280px;
}

.footer_text {
    display: flex;
    gap: 10rem;
}